.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.902000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.715000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.859000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.901000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.727000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.705000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.714000;font-style:normal;font-weight:normal;visibility:visible;}
.m2{transform:matrix(0.245000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.245000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.245000,0.000000,0.000000,0.250000,0,0);}
.m19{transform:matrix(0.245250,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.245250,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.245250,0.000000,0.000000,0.250000,0,0);}
.m14{transform:matrix(0.245750,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.245750,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.245750,0.000000,0.000000,0.250000,0,0);}
.m20{transform:matrix(0.246000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.246000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.246000,0.000000,0.000000,0.250000,0,0);}
.m15{transform:matrix(0.246250,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.246250,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.246250,0.000000,0.000000,0.250000,0,0);}
.mf{transform:matrix(0.247000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.247000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.247000,0.000000,0.000000,0.250000,0,0);}
.mc{transform:matrix(0.247250,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.247250,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.247250,0.000000,0.000000,0.250000,0,0);}
.m5{transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);}
.m16{transform:matrix(0.247750,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.247750,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.247750,0.000000,0.000000,0.250000,0,0);}
.m1b{transform:matrix(0.248000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.248000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.248000,0.000000,0.000000,0.250000,0,0);}
.m10{transform:matrix(0.248250,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.248250,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.248250,0.000000,0.000000,0.250000,0,0);}
.m17{transform:matrix(0.248500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.248500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.248500,0.000000,0.000000,0.250000,0,0);}
.m1e{transform:matrix(0.248750,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.248750,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.248750,0.000000,0.000000,0.250000,0,0);}
.m11{transform:matrix(0.249000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249000,0.000000,0.000000,0.250000,0,0);}
.m1f{transform:matrix(0.249250,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249250,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249250,0.000000,0.000000,0.250000,0,0);}
.m9{transform:matrix(0.249500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249500,0.000000,0.000000,0.250000,0,0);}
.m3{transform:matrix(0.249750,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249750,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249750,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1d{transform:matrix(0.250250,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250250,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250250,0.000000,0.000000,0.250000,0,0);}
.m6{transform:matrix(0.250500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250500,0.000000,0.000000,0.250000,0,0);}
.mb{transform:matrix(0.252000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.252000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.252000,0.000000,0.000000,0.250000,0,0);}
.me{transform:matrix(0.252250,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.252250,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.252250,0.000000,0.000000,0.250000,0,0);}
.md{transform:matrix(0.252500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.252500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.252500,0.000000,0.000000,0.250000,0,0);}
.m7{transform:matrix(0.252750,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.252750,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.252750,0.000000,0.000000,0.250000,0,0);}
.m13{transform:matrix(0.253000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.253000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.253000,0.000000,0.000000,0.250000,0,0);}
.m1c{transform:matrix(0.253250,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.253250,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.253250,0.000000,0.000000,0.250000,0,0);}
.m12{transform:matrix(0.253750,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.253750,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.253750,0.000000,0.000000,0.250000,0,0);}
.m1a{transform:matrix(0.254000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.254000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.254000,0.000000,0.000000,0.250000,0,0);}
.m4{transform:matrix(0.254250,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.254250,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.254250,0.000000,0.000000,0.250000,0,0);}
.m18{transform:matrix(0.254500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.254500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.254500,0.000000,0.000000,0.250000,0,0);}
.ma{transform:matrix(0.254750,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.254750,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.254750,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);}
.m8{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._19{margin-left:-6.786638px;}
._7{margin-left:-4.503095px;}
._c{margin-left:-3.474612px;}
._9{margin-left:-2.377201px;}
._5{margin-left:-1.115811px;}
._6{width:1.075961px;}
._b{width:2.293965px;}
._0{width:3.522792px;}
._14{width:4.756368px;}
._10{width:10.167281px;}
._f{width:11.983375px;}
._4{width:13.310034px;}
._a{width:14.878941px;}
._11{width:16.101832px;}
._3{width:17.693578px;}
._d{width:19.418198px;}
._2{width:20.796203px;}
._1b{width:22.127338px;}
._13{width:23.170945px;}
._12{width:24.830183px;}
._15{width:26.190306px;}
._16{width:27.735845px;}
._18{width:29.479471px;}
._1a{width:32.853073px;}
._17{width:34.603665px;}
._8{width:35.855200px;}
._e{width:36.872758px;}
._1{width:40.918584px;}
._1c{width:50.403558px;}
._1d{width:71.720609px;}
.fc2{color:rgb(89,178,76);}
.fc1{color:rgb(115,115,115);}
.fc0{color:rgb(0,0,0);}
.fs6{font-size:31.880400px;}
.fs2{font-size:39.850400px;}
.fs4{font-size:43.636400px;}
.fs5{font-size:47.820800px;}
.fs3{font-size:57.384800px;}
.fs1{font-size:68.861600px;}
.fs0{font-size:135.492000px;}
.y27{bottom:65.151000px;}
.y96{bottom:105.018000px;}
.y75{bottom:105.051000px;}
.y26{bottom:117.157000px;}
.y95{bottom:118.567000px;}
.y74{bottom:118.600000px;}
.y25{bottom:130.706000px;}
.y73{bottom:132.150000px;}
.y94{bottom:135.461000px;}
.y24{bottom:144.255000px;}
.ybc{bottom:146.021000px;}
.y4f{bottom:146.056000px;}
.y72{bottom:149.422000px;}
.y93{bottom:154.703000px;}
.y76{bottom:156.500000px;}
.ybb{bottom:159.570000px;}
.y4e{bottom:159.605000px;}
.y23{bottom:161.528000px;}
.y71{bottom:162.971000px;}
.y22{bottom:175.077000px;}
.yba{bottom:176.843000px;}
.y4d{bottom:176.878000px;}
.y70{bottom:180.244000px;}
.y92{bottom:181.389000px;}
.y21{bottom:188.626000px;}
.y4c{bottom:190.427000px;}
.yb9{bottom:193.120000px;}
.y6f{bottom:193.793000px;}
.y91{bottom:194.938000px;}
.y20{bottom:202.176000px;}
.y4b{bottom:203.976000px;}
.y90{bottom:208.487000px;}
.yb8{bottom:209.396000px;}
.y6e{bottom:210.687000px;}
.y1f{bottom:215.725000px;}
.y4a{bottom:217.525000px;}
.yb7{bottom:225.673000px;}
.y8f{bottom:225.760000px;}
.y6d{bottom:229.930000px;}
.y50{bottom:231.500000px;}
.y1e{bottom:232.998000px;}
.y49{bottom:234.798000px;}
.y8e{bottom:239.309000px;}
.yb6{bottom:241.949000px;}
.y1d{bottom:246.547000px;}
.y48{bottom:248.347000px;}
.y8d{bottom:256.582000px;}
.y6c{bottom:256.616000px;}
.yb5{bottom:261.191000px;}
.y47{bottom:261.896000px;}
.y97{bottom:263.000000px;}
.y1c{bottom:263.819000px;}
.y8c{bottom:270.131000px;}
.y6b{bottom:270.165000px;}
.y1b{bottom:277.369000px;}
.y46{bottom:279.169000px;}
.y8b{bottom:283.680000px;}
.yb4{bottom:285.750000px;}
.y6a{bottom:287.438000px;}
.y1a{bottom:290.918000px;}
.y45{bottom:292.718000px;}
.yb3{bottom:297.705000px;}
.y8a{bottom:300.953000px;}
.y69{bottom:300.987000px;}
.y44{bottom:306.267000px;}
.y19{bottom:308.191000px;}
.yb2{bottom:311.254000px;}
.y89{bottom:314.502000px;}
.y68{bottom:318.259000px;}
.y18{bottom:321.740000px;}
.y43{bottom:323.540000px;}
.yb1{bottom:324.462000px;}
.y88{bottom:328.052000px;}
.y67{bottom:331.809000px;}
.y17{bottom:335.289000px;}
.yb0{bottom:336.417000px;}
.y42{bottom:337.089000px;}
.y87{bottom:341.601000px;}
.y16{bottom:348.838000px;}
.y66{bottom:349.081000px;}
.yaf{bottom:349.966000px;}
.y41{bottom:350.639000px;}
.y86{bottom:358.873000px;}
.y65{bottom:362.631000px;}
.y40{bottom:364.188000px;}
.yae{bottom:365.111000px;}
.y15{bottom:366.111000px;}
.y85{bottom:372.423000px;}
.y64{bottom:376.180000px;}
.yad{bottom:377.067000px;}
.y14{bottom:379.660000px;}
.y3f{bottom:381.460000px;}
.yd3{bottom:383.906000px;}
.y84{bottom:385.972000px;}
.yac{bottom:390.616000px;}
.y63{bottom:393.452000px;}
.y3e{bottom:395.010000px;}
.y13{bottom:398.902000px;}
.yd2{bottom:400.182000px;}
.y0{bottom:400.500000px;}
.y83{bottom:402.866000px;}
.yab{bottom:406.314000px;}
.y62{bottom:407.002000px;}
.y3d{bottom:412.282000px;}
.yd1{bottom:416.459000px;}
.yaa{bottom:418.270000px;}
.y82{bottom:422.108000px;}
.y12{bottom:424.194000px;}
.y61{bottom:424.274000px;}
.y3c{bottom:425.832000px;}
.ya9{bottom:430.225000px;}
.yd0{bottom:432.735000px;}
.y81{bottom:435.657000px;}
.y11{bottom:437.743000px;}
.y60{bottom:437.824000px;}
.y3b{bottom:439.381000px;}
.ya8{bottom:442.180000px;}
.ycf{bottom:449.011000px;}
.y5f{bottom:451.373000px;}
.y80{bottom:452.930000px;}
.ya7{bottom:454.135000px;}
.y10{bottom:455.989000px;}
.y3a{bottom:456.653000px;}
.ya6{bottom:466.090000px;}
.y7f{bottom:466.479000px;}
.yce{bottom:468.254000px;}
.y5e{bottom:468.645000px;}
.ybd{bottom:470.000000px;}
.y39{bottom:470.203000px;}
.ya5{bottom:478.045000px;}
.y5d{bottom:482.195000px;}
.yf{bottom:482.675000px;}
.y38{bottom:483.752000px;}
.ya4{bottom:491.595000px;}
.ycd{bottom:494.940000px;}
.y5c{bottom:495.744000px;}
.y7e{bottom:497.301000px;}
.ye{bottom:499.948000px;}
.y37{bottom:501.025000px;}
.ya3{bottom:508.488000px;}
.ycc{bottom:508.868000px;}
.y7d{bottom:510.850000px;}
.yca{bottom:511.216000px;}
.y5b{bottom:513.017000px;}
.ycb{bottom:513.241000px;}
.yd{bottom:513.497000px;}
.y36{bottom:514.574000px;}
.ya2{bottom:525.603000px;}
.y5a{bottom:526.566000px;}
.yc9{bottom:527.493000px;}
.y35{bottom:528.123000px;}
.yc{bottom:530.770000px;}
.ya1{bottom:537.558000px;}
.y59{bottom:540.115000px;}
.y34{bottom:541.672000px;}
.yc8{bottom:543.769000px;}
.yb{bottom:544.319000px;}
.ya0{bottom:551.108000px;}
.y7c{bottom:555.221000px;}
.y58{bottom:557.388000px;}
.y33{bottom:558.945000px;}
.ya{bottom:561.592000px;}
.yc7{bottom:563.012000px;}
.y9f{bottom:564.316000px;}
.y57{bottom:570.937000px;}
.y32{bottom:572.494000px;}
.y9{bottom:575.141000px;}
.y9e{bottom:576.271000px;}
.y56{bottom:584.486000px;}
.y31{bottom:586.043000px;}
.yc6{bottom:589.698000px;}
.y9d{bottom:589.820000px;}
.y8{bottom:594.383000px;}
.y7b{bottom:599.592000px;}
.y55{bottom:601.759000px;}
.yc5{bottom:603.247000px;}
.y30{bottom:603.316000px;}
.y9c{bottom:607.093000px;}
.y7a{bottom:613.142000px;}
.y54{bottom:615.308000px;}
.y2f{bottom:616.865000px;}
.yc4{bottom:620.519000px;}
.y9b{bottom:620.642000px;}
.y2e{bottom:630.414000px;}
.y53{bottom:632.581000px;}
.yc3{bottom:636.796000px;}
.y9a{bottom:637.536000px;}
.y79{bottom:643.964000px;}
.y2d{bottom:647.687000px;}
.y52{bottom:651.823000px;}
.yc2{bottom:654.069000px;}
.y99{bottom:655.782000px;}
.y78{bottom:657.513000px;}
.y2{bottom:660.497000px;}
.y2c{bottom:661.236000px;}
.yc1{bottom:667.618000px;}
.y98{bottom:672.058000px;}
.y7{bottom:672.452000px;}
.y2b{bottom:674.785000px;}
.y51{bottom:678.509000px;}
.y6{bottom:684.407000px;}
.yc0{bottom:684.891000px;}
.y77{bottom:688.335000px;}
.y2a{bottom:692.058000px;}
.y1{bottom:693.479000px;}
.y5{bottom:696.362000px;}
.ybf{bottom:698.440000px;}
.y29{bottom:705.607000px;}
.y4{bottom:708.317000px;}
.ybe{bottom:717.682000px;}
.y28{bottom:719.157000px;}
.y3{bottom:720.272000px;}
.hb{height:4.500000px;}
.hd{height:22.762606px;}
.h4{height:29.887800px;}
.h7{height:30.545480px;}
.h8{height:30.763662px;}
.h6{height:32.727300px;}
.ha{height:34.144051px;}
.h5{height:40.972747px;}
.h3{height:48.134258px;}
.h2{height:94.708908px;}
.h1{height:200.000000px;}
.hc{height:254.000000px;}
.h9{height:426.500000px;}
.h0{height:792.000000px;}
.w1{width:63.000000px;}
.w0{width:612.000000px;}
.x1{left:59.304000px;}
.x0{left:61.000000px;}
.x30{left:67.237000px;}
.xa{left:74.874000px;}
.x2c{left:76.692000px;}
.x38{left:85.678000px;}
.x36{left:86.935000px;}
.x35{left:88.601000px;}
.x37{left:92.116000px;}
.x23{left:95.632000px;}
.x2f{left:96.843000px;}
.x1e{left:101.086000px;}
.x9{left:102.147000px;}
.xb{left:106.995000px;}
.x17{left:112.450000px;}
.x10{left:131.653000px;}
.x8{left:132.929000px;}
.x31{left:135.820000px;}
.x32{left:140.527000px;}
.x33{left:146.587000px;}
.x34{left:152.647000px;}
.x1a{left:187.556000px;}
.xd{left:191.160000px;}
.x12{left:192.548000px;}
.xc{left:194.029000px;}
.x28{left:195.040000px;}
.x2b{left:197.449000px;}
.xe{left:201.515000px;}
.x24{left:217.861000px;}
.x21{left:228.320000px;}
.x2d{left:245.697000px;}
.x18{left:258.642000px;}
.xf{left:259.661000px;}
.x15{left:268.462000px;}
.x25{left:277.769000px;}
.x1c{left:283.651000px;}
.x22{left:292.066000px;}
.x2e{left:296.360000px;}
.x29{left:301.527000px;}
.x13{left:309.381000px;}
.x1b{left:317.869000px;}
.x16{left:326.394000px;}
.x1d{left:342.045000px;}
.x2a{left:363.151000px;}
.x1f{left:369.896000px;}
.x14{left:371.012000px;}
.x3{left:409.138000px;}
.x20{left:427.889000px;}
.x2{left:447.687000px;}
.x7{left:449.736000px;}
.x5{left:452.156000px;}
.x6{left:461.553000px;}
.x4{left:471.348000px;}
.x19{left:521.146000px;}
.x11{left:535.525000px;}
.x26{left:538.074000px;}
.x27{left:542.619000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._19{margin-left:-9.048850pt;}
._7{margin-left:-6.004127pt;}
._c{margin-left:-4.632816pt;}
._9{margin-left:-3.169602pt;}
._5{margin-left:-1.487748pt;}
._6{width:1.434614pt;}
._b{width:3.058619pt;}
._0{width:4.697056pt;}
._14{width:6.341823pt;}
._10{width:13.556375pt;}
._f{width:15.977834pt;}
._4{width:17.746711pt;}
._a{width:19.838589pt;}
._11{width:21.469109pt;}
._3{width:23.591437pt;}
._d{width:25.890931pt;}
._2{width:27.728271pt;}
._1b{width:29.503117pt;}
._13{width:30.894593pt;}
._12{width:33.106910pt;}
._15{width:34.920408pt;}
._16{width:36.981127pt;}
._18{width:39.305962pt;}
._1a{width:43.804097pt;}
._17{width:46.138220pt;}
._8{width:47.806933pt;}
._e{width:49.163677pt;}
._1{width:54.558112pt;}
._1c{width:67.204744pt;}
._1d{width:95.627479pt;}
.fs6{font-size:42.507200pt;}
.fs2{font-size:53.133867pt;}
.fs4{font-size:58.181867pt;}
.fs5{font-size:63.761067pt;}
.fs3{font-size:76.513067pt;}
.fs1{font-size:91.815467pt;}
.fs0{font-size:180.656000pt;}
.y27{bottom:86.868000pt;}
.y96{bottom:140.024000pt;}
.y75{bottom:140.068000pt;}
.y26{bottom:156.209333pt;}
.y95{bottom:158.089333pt;}
.y74{bottom:158.133333pt;}
.y25{bottom:174.274667pt;}
.y73{bottom:176.200000pt;}
.y94{bottom:180.614667pt;}
.y24{bottom:192.340000pt;}
.ybc{bottom:194.694667pt;}
.y4f{bottom:194.741333pt;}
.y72{bottom:199.229333pt;}
.y93{bottom:206.270667pt;}
.y76{bottom:208.666667pt;}
.ybb{bottom:212.760000pt;}
.y4e{bottom:212.806667pt;}
.y23{bottom:215.370667pt;}
.y71{bottom:217.294667pt;}
.y22{bottom:233.436000pt;}
.yba{bottom:235.790667pt;}
.y4d{bottom:235.837333pt;}
.y70{bottom:240.325333pt;}
.y92{bottom:241.852000pt;}
.y21{bottom:251.501333pt;}
.y4c{bottom:253.902667pt;}
.yb9{bottom:257.493333pt;}
.y6f{bottom:258.390667pt;}
.y91{bottom:259.917333pt;}
.y20{bottom:269.568000pt;}
.y4b{bottom:271.968000pt;}
.y90{bottom:277.982667pt;}
.yb8{bottom:279.194667pt;}
.y6e{bottom:280.916000pt;}
.y1f{bottom:287.633333pt;}
.y4a{bottom:290.033333pt;}
.yb7{bottom:300.897333pt;}
.y8f{bottom:301.013333pt;}
.y6d{bottom:306.573333pt;}
.y50{bottom:308.666667pt;}
.y1e{bottom:310.664000pt;}
.y49{bottom:313.064000pt;}
.y8e{bottom:319.078667pt;}
.yb6{bottom:322.598667pt;}
.y1d{bottom:328.729333pt;}
.y48{bottom:331.129333pt;}
.y8d{bottom:342.109333pt;}
.y6c{bottom:342.154667pt;}
.yb5{bottom:348.254667pt;}
.y47{bottom:349.194667pt;}
.y97{bottom:350.666667pt;}
.y1c{bottom:351.758667pt;}
.y8c{bottom:360.174667pt;}
.y6b{bottom:360.220000pt;}
.y1b{bottom:369.825333pt;}
.y46{bottom:372.225333pt;}
.y8b{bottom:378.240000pt;}
.yb4{bottom:381.000000pt;}
.y6a{bottom:383.250667pt;}
.y1a{bottom:387.890667pt;}
.y45{bottom:390.290667pt;}
.yb3{bottom:396.940000pt;}
.y8a{bottom:401.270667pt;}
.y69{bottom:401.316000pt;}
.y44{bottom:408.356000pt;}
.y19{bottom:410.921333pt;}
.yb2{bottom:415.005333pt;}
.y89{bottom:419.336000pt;}
.y68{bottom:424.345333pt;}
.y18{bottom:428.986667pt;}
.y43{bottom:431.386667pt;}
.yb1{bottom:432.616000pt;}
.y88{bottom:437.402667pt;}
.y67{bottom:442.412000pt;}
.y17{bottom:447.052000pt;}
.yb0{bottom:448.556000pt;}
.y42{bottom:449.452000pt;}
.y87{bottom:455.468000pt;}
.y16{bottom:465.117333pt;}
.y66{bottom:465.441333pt;}
.yaf{bottom:466.621333pt;}
.y41{bottom:467.518667pt;}
.y86{bottom:478.497333pt;}
.y65{bottom:483.508000pt;}
.y40{bottom:485.584000pt;}
.yae{bottom:486.814667pt;}
.y15{bottom:488.148000pt;}
.y85{bottom:496.564000pt;}
.y64{bottom:501.573333pt;}
.yad{bottom:502.756000pt;}
.y14{bottom:506.213333pt;}
.y3f{bottom:508.613333pt;}
.yd3{bottom:511.874667pt;}
.y84{bottom:514.629333pt;}
.yac{bottom:520.821333pt;}
.y63{bottom:524.602667pt;}
.y3e{bottom:526.680000pt;}
.y13{bottom:531.869333pt;}
.yd2{bottom:533.576000pt;}
.y0{bottom:534.000000pt;}
.y83{bottom:537.154667pt;}
.yab{bottom:541.752000pt;}
.y62{bottom:542.669333pt;}
.y3d{bottom:549.709333pt;}
.yd1{bottom:555.278667pt;}
.yaa{bottom:557.693333pt;}
.y82{bottom:562.810667pt;}
.y12{bottom:565.592000pt;}
.y61{bottom:565.698667pt;}
.y3c{bottom:567.776000pt;}
.ya9{bottom:573.633333pt;}
.yd0{bottom:576.980000pt;}
.y81{bottom:580.876000pt;}
.y11{bottom:583.657333pt;}
.y60{bottom:583.765333pt;}
.y3b{bottom:585.841333pt;}
.ya8{bottom:589.573333pt;}
.ycf{bottom:598.681333pt;}
.y5f{bottom:601.830667pt;}
.y80{bottom:603.906667pt;}
.ya7{bottom:605.513333pt;}
.y10{bottom:607.985333pt;}
.y3a{bottom:608.870667pt;}
.ya6{bottom:621.453333pt;}
.y7f{bottom:621.972000pt;}
.yce{bottom:624.338667pt;}
.y5e{bottom:624.860000pt;}
.ybd{bottom:626.666667pt;}
.y39{bottom:626.937333pt;}
.ya5{bottom:637.393333pt;}
.y5d{bottom:642.926667pt;}
.yf{bottom:643.566667pt;}
.y38{bottom:645.002667pt;}
.ya4{bottom:655.460000pt;}
.ycd{bottom:659.920000pt;}
.y5c{bottom:660.992000pt;}
.y7e{bottom:663.068000pt;}
.ye{bottom:666.597333pt;}
.y37{bottom:668.033333pt;}
.ya3{bottom:677.984000pt;}
.ycc{bottom:678.490667pt;}
.y7d{bottom:681.133333pt;}
.yca{bottom:681.621333pt;}
.y5b{bottom:684.022667pt;}
.ycb{bottom:684.321333pt;}
.yd{bottom:684.662667pt;}
.y36{bottom:686.098667pt;}
.ya2{bottom:700.804000pt;}
.y5a{bottom:702.088000pt;}
.yc9{bottom:703.324000pt;}
.y35{bottom:704.164000pt;}
.yc{bottom:707.693333pt;}
.ya1{bottom:716.744000pt;}
.y59{bottom:720.153333pt;}
.y34{bottom:722.229333pt;}
.yc8{bottom:725.025333pt;}
.yb{bottom:725.758667pt;}
.ya0{bottom:734.810667pt;}
.y7c{bottom:740.294667pt;}
.y58{bottom:743.184000pt;}
.y33{bottom:745.260000pt;}
.ya{bottom:748.789333pt;}
.yc7{bottom:750.682667pt;}
.y9f{bottom:752.421333pt;}
.y57{bottom:761.249333pt;}
.y32{bottom:763.325333pt;}
.y9{bottom:766.854667pt;}
.y9e{bottom:768.361333pt;}
.y56{bottom:779.314667pt;}
.y31{bottom:781.390667pt;}
.yc6{bottom:786.264000pt;}
.y9d{bottom:786.426667pt;}
.y8{bottom:792.510667pt;}
.y7b{bottom:799.456000pt;}
.y55{bottom:802.345333pt;}
.yc5{bottom:804.329333pt;}
.y30{bottom:804.421333pt;}
.y9c{bottom:809.457333pt;}
.y7a{bottom:817.522667pt;}
.y54{bottom:820.410667pt;}
.y2f{bottom:822.486667pt;}
.yc4{bottom:827.358667pt;}
.y9b{bottom:827.522667pt;}
.y2e{bottom:840.552000pt;}
.y53{bottom:843.441333pt;}
.yc3{bottom:849.061333pt;}
.y9a{bottom:850.048000pt;}
.y79{bottom:858.618667pt;}
.y2d{bottom:863.582667pt;}
.y52{bottom:869.097333pt;}
.yc2{bottom:872.092000pt;}
.y99{bottom:874.376000pt;}
.y78{bottom:876.684000pt;}
.y2{bottom:880.662667pt;}
.y2c{bottom:881.648000pt;}
.yc1{bottom:890.157333pt;}
.y98{bottom:896.077333pt;}
.y7{bottom:896.602667pt;}
.y2b{bottom:899.713333pt;}
.y51{bottom:904.678667pt;}
.y6{bottom:912.542667pt;}
.yc0{bottom:913.188000pt;}
.y77{bottom:917.780000pt;}
.y2a{bottom:922.744000pt;}
.y1{bottom:924.638667pt;}
.y5{bottom:928.482667pt;}
.ybf{bottom:931.253333pt;}
.y29{bottom:940.809333pt;}
.y4{bottom:944.422667pt;}
.ybe{bottom:956.909333pt;}
.y28{bottom:958.876000pt;}
.y3{bottom:960.362667pt;}
.hb{height:6.000000pt;}
.hd{height:30.350141pt;}
.h4{height:39.850400pt;}
.h7{height:40.727307pt;}
.h8{height:41.018216pt;}
.h6{height:43.636400pt;}
.ha{height:45.525402pt;}
.h5{height:54.630330pt;}
.h3{height:64.179011pt;}
.h2{height:126.278544pt;}
.h1{height:266.666667pt;}
.hc{height:338.666667pt;}
.h9{height:568.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:84.000000pt;}
.w0{width:816.000000pt;}
.x1{left:79.072000pt;}
.x0{left:81.333333pt;}
.x30{left:89.649333pt;}
.xa{left:99.832000pt;}
.x2c{left:102.256000pt;}
.x38{left:114.237333pt;}
.x36{left:115.913333pt;}
.x35{left:118.134667pt;}
.x37{left:122.821333pt;}
.x23{left:127.509333pt;}
.x2f{left:129.124000pt;}
.x1e{left:134.781333pt;}
.x9{left:136.196000pt;}
.xb{left:142.660000pt;}
.x17{left:149.933333pt;}
.x10{left:175.537333pt;}
.x8{left:177.238667pt;}
.x31{left:181.093333pt;}
.x32{left:187.369333pt;}
.x33{left:195.449333pt;}
.x34{left:203.529333pt;}
.x1a{left:250.074667pt;}
.xd{left:254.880000pt;}
.x12{left:256.730667pt;}
.xc{left:258.705333pt;}
.x28{left:260.053333pt;}
.x2b{left:263.265333pt;}
.xe{left:268.686667pt;}
.x24{left:290.481333pt;}
.x21{left:304.426667pt;}
.x2d{left:327.596000pt;}
.x18{left:344.856000pt;}
.xf{left:346.214667pt;}
.x15{left:357.949333pt;}
.x25{left:370.358667pt;}
.x1c{left:378.201333pt;}
.x22{left:389.421333pt;}
.x2e{left:395.146667pt;}
.x29{left:402.036000pt;}
.x13{left:412.508000pt;}
.x1b{left:423.825333pt;}
.x16{left:435.192000pt;}
.x1d{left:456.060000pt;}
.x2a{left:484.201333pt;}
.x1f{left:493.194667pt;}
.x14{left:494.682667pt;}
.x3{left:545.517333pt;}
.x20{left:570.518667pt;}
.x2{left:596.916000pt;}
.x7{left:599.648000pt;}
.x5{left:602.874667pt;}
.x6{left:615.404000pt;}
.x4{left:628.464000pt;}
.x19{left:694.861333pt;}
.x11{left:714.033333pt;}
.x26{left:717.432000pt;}
.x27{left:723.492000pt;}
}
